.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 24px;
  border-radius: 24px;
  max-width: 500px;
  width: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  field-sizing: content;
  font-family: inherit;
  font-size: inherit;
  margin-top: 24px;
  max-height: calc(100vh - 200px);
  min-height: calc(6rem + 16px);
  padding: 8px;
  width: 100%;
}

.button {
  background-color: #000;
  border: none;
  border-radius: 8px;
  color: var(--c-button-text);
  font-size: 1rem;
  margin: 16px 0 0;
  padding: 8px;
}
.button:hover {
  background-color: var(--c-button-bg-hover);
}

.close {
  background-color: #000;
  border-radius: 20px;
  color: var(--c-button-text);
  cursor: pointer;
  padding: 8px;
}

.edit {
  background-color: #000;
  border-radius: 20px;
  border: none;
  color: var(--c-button-text);
  cursor: pointer;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
}

.animation {
  animation: fade-in ease-in-out 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
