.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
}

.icon {
  background-color: var(--color-accent-primary);
  border: none;
  border-radius: 50%;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}
.icon:not(:first-child) {
  margin-left: 12px;
}
.icon svg {
  margin: 0.5rem;
}
