.date {
  border-radius: calc(6.4px + 0.8rem);
  color: var(--color-text-secondary);
  display: block;
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 24px auto 0;
  padding: 6.4px 12.8px;
  text-align: center;
  width: fit-content;
}

.posts {
  margin: 12px 0 0;
}

.loading,
.noPosts {
  color: var(--color-text-tertiary);
  margin: 16px 0;
  text-align: center;
}

.animation {
  animation: fade-in ease-in-out 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  animation: fade-out ease-in-out 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
