.container {
  background-color: #f8f9fa;
  border-radius: 16px;
  padding: 32px;
}

.link {
  background-color: #333;
  border-radius: 4px;
  color: #fff;
  display: block;
  margin-top: 8px;
  text-align: center;
  padding: 8px 16px;
}
.link:hover {
  background-color: #555;
}
