:root {
  font-family: Heletica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, BIZ UDPGothic, Meiryo, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: inherit;
}

body {
  place-items: center;
}
