.button {
  background-color: #333;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 8px;
}
.button:hover {
  background-color: #555;
}
.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.primary {
  border-radius: 20px;
  padding: 8px 20px;
  line-height: 24px;
}

.icon {
  border-radius: 20px;
  padding: 8px;
}
.icon {
  border: none;
  border-radius: 50%;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}
.icon:not(:first-child) {
  margin-left: 12px;
}
.icon svg {
  margin: 0.5rem;
}
