.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1;
}

.spacer {
  width: 96%;
  max-width: 768px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
